/* Reset and base styles */
      @font-face {
          font-family: Archivo;
          src: url(static/Archivo-Regular.ttf);
      }

      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }

      nav{
          position: absolute;
          top: px;
          left: 1294px;
          width: 502px;
          height: 88px;
          background: #E8E3DCFF;
          border-radius: 16px;
          box-shadow: 0px 4px 9px #e8e3dc1C, 0px 0px 2px #e8e3dc1F
      }

      body {
          font-family: 'Archivo', sans-serif;
          line-height: 1.6;
          color: #171A1F;

          overflow-x: hidden;
          background-color: #DDD6CC;
      }

      header {
          position: relative;
          width: 100%;
          top:   30px;
          height: 118px;
          background-color: #DDD6CC;
          color: #E5E6E4;
          display: flex;
          align-items: center;
          padding: 20px;
          z-index: 10;
      }

      .logo2 {
          position: absolute;
          top: -50px;
          left: 26px;
          width: 208px;
          height: auto;
          transform: scale(.9,.9);
      }

      .Title {
          position: sticky;
          top: 10px;
          left: 264px;
          font-family: Archivo;
          font-size: 70px;
          font-weight:  300;
          color: #000000;
          transform: scaleY(1.05);

      }


      nav a {
          margin-left: 20px;
          padding: 10px 20px;
          font-size: 16px;
          color: #000000;
          text-decoration: none;
          /* background: transparent;
          border: 1px solid #E5E6E4;
          border-radius: 12px; */
          transition: background 0.3s, color 0.3s;
      }

      nav a:hover {
          background: #F1F2F0;
          color: #000;
      }

      section {
          position: relative;
          margin-top: 20px;
          height:75vh;
          background-color: #DDD6CC;

      }

      .text {
          position: absolute;
          top: 107px;
          left: 1034px;
          width: 617px;
          height: 196px;
          font-family: Instrument Serif;
          font-size: 150px;
          line-height: 196px;
          font-weight: 400;
          color: #171A1FFF; /* neutral-900 */
          transform: scaleY(1.05);
      }

      .line2 {

          position: absolute;
          top: 21px;
          width: 100%;
          left:0px;
          height: 0px;
          border-width: 1px;
          border-color: rgb(8, 8, 8);
          border-style: solid;
          transform: rotate(0deg);
      }


      .line3 {
          position: absolute;
          top: 890px;
          left: 0px;
          width: 100%;
          height: 0px;
          border-width: 1px;
          border-color: rgb(0, 0, 0); /* neutral-800 */
          border-style: solid;
          transform: rotate(0deg);
      }

      .rectangle2 {
          position: absolute;
          top: 0px;
          left: -14px;
          width: 1920px;
          height: 1098px;
          background: #CCC2B5FF;
          border-radius: 0px;
      }

      .Footer-Title{
          position: absolute;
          top: 58px;
          left: -0px;
          width: 1856px;
          height: 399px;
          font-family: Arial;
          font-size: 310px;
          line-height: 390px;
          font-weight: 300;
          color: #b2a99d;
      }

      footer {
          position: relative;
          height: 100vh;
          bottom:-300px;
          width: 100%;
          background-color: #ccc2b5;
          text-align: center;
          padding: 2rem 0;
          overflow: hidden;
      }

      .footer-container {
          position: relative;
          bottom:-450px;
          right:328px;
          display: flex;
          justify-content: space-around;
          max-width: 1200px;
          margin: 0 auto;
          color: #171a1f;
      }

      .footer-container div {
          text-align: left;
      }

      .footer-container h2 {
          margin-bottom: 1rem;
      }

      .footer-container ul {
          list-style-type: none;
      }

      .footer-container li {
          margin-bottom: 0.5rem;
      }

      .copyright {
          position: relative;
          bottom:-742.8px;
          font-size: 14px;
          color: rgb(0, 0, 0);
          text-align: center;
      }

      /* Line 25 */
      .line4 {
          position: absolute;
          top: 33px;
          width: 1920px;
          height: 0px;
          border-width: 1px;
          border-color: #1D2128FF; /* neutral-800 */
          border-style: solid;
          transform: rotate(0deg);
      }

      .line5 {
          position: absolute;
          top: 63px;
          left: 605px;
          width: 775px;
          height: 0px;
          border-width: 1px;
          border-color: #1D2128FF; /* neutral-800 */
          border-style: solid;
          transform: rotate(0deg);
      }

      .button{
          position: absolute;
          top: 18px;
          left: 50px;
          width: 127px;
          height: 52px;
          padding: 0 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Archivo;
          font-size: 24px;
          line-height: 36px;
          font-weight: 400;
          color: #171A1FFF; /* neutral-900 */
          background: #00000000; /* transparent */
          opacity: 1;
          border: none;
          border-radius: 12px; /* border-xl */
      }

          /* Hover */
      .button:hover {
          color: #171A1FFF; /* neutral-900 */
          background: #EAECEFFF; /* neutral-250 */
      }
          /* Pressed */
      .button:hover:active {
          color: #171A1FFF; /* neutral-900 */
          background: #DEE1E6FF; /* neutral-300 */
      }
          /* Disabled */
      .button:disabled {
          opacity: 0.4;
      }

      .button2{
          position: absolute;
          top: 18px;
          left: 260px;
          width: 127px;
          height: 52px;
          padding: 0 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Archivo;
          font-size: 24px;
          line-height: 36px;
          font-weight: 400;
          color: #171A1FFF; /* neutral-900 */
          background: #00000000; /* transparent */
          opacity: 1;
          border: none;
          border-radius: 12px; /* border-xl */
      }
          /* Hover */
      .button:hover {
          color: #171A1FFF; /* neutral-900 */
          background: #EAECEFFF; /* neutral-250 */
      }
          /* Pressed */
      .button:hover:active {
          color: #171A1FFF; /* neutral-900 */
          background: #DEE1E6FF; /* neutral-300 */
      }
          /* Disabled */
      .button:disabled {
          opacity: 0.4;
      }

      /* Oval 1 */
      .oval {
          position: absolute;
          top: 61px;
          left: 368px;
          width: 582px;
          height: 582px;
          background: #FFFFFF00; /* white */
          border-radius: 50%;
          border-width: 4px;
          border-color: #B7AEA1FF;
          border-style: solid;
      }

      /* Rectangle 2 */
      .rectangle {
          position: absolute;
          top: 172px;
          left: 195px;
          width: 618px;
          height: 540px;
          background: #B2A99DFF;
          border-radius: 0px;
          transform: scale(.8,.8);
      }

      /* Image 16 */
      .image {
          position: absolute;
          top: 81px;
          left: 140px;
          width: 738px;
          height: 800px;
          border-radius: 0px;
          transform: scaleX(1.12);
      }

      /* Image 18 */
      .image2 {
          position: absolute;
          top: 113px;
          left: 111px;
          width: 476px;
          height: 540px;
          border-radius: 0px;
      }
      /* Image */
      .image3 {
          position: absolute;
          top: 453px;
          left: 239px;
          width: 335px;
          height: 394px;
          border-radius: 0px;
      }

      .image4 {
          position: absolute;
          top: 315px;
          left: 439px;
          width: 398px;
          height: 581px;
          border-radius: 0px;
      }

      .text2{
          position: absolute;
          top: 300px;
          left: 1100px;
          width: 506px;
          height: 36px;
          font-family: Archivo; /* Heading */
          font-size: 27px;
          line-height: 36px;
          font-weight: 700;
          color: rgb(4, 4, 4); /* white */
      }

      /* Oval 1 */
      .oval2 {
          position: absolute;
          top: 463px;
          left: 1398px;
          width: 707px;
          height: 681px;
          background: #FFFFFF00; /* white */
          border-radius: 50%;
          border-width: 4px;
          border-color: #B7AEA1FF;
          border-style: solid;
      }